apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-configmap
  namespace: {{ namespace }}
data:
  keyfile: |+
    {{random_key|indent}}
  configsvr.conf: |+
    # for documentation of all options, see:
    #   http://docs.mongodb.org/manual/reference/configuration-options/
    # Where and how to store data.
    storage:
      dbPath: /data/db
      journal:
          enabled: true
      wiredTiger:
          engineConfig:
              cacheSizeGB: {{cs_cacheSizeGB}}
    # network interfaces
    net:
      port: 27018
      bindIp: 0.0.0.0  # Listen to local interface only, comment to listen on all interfaces.
      unixDomainSocket:
          enabled: false
    replication:
       replSetName: cs
    sharding:
       clusterRole: configsvr
  mongos.conf: |+
    bind_ip = 0.0.0.0
    port = 27017
    ##监听的配置服务器,只能有1个或者3个 cs为配置服务器的副本集名字
    configdb = cs/{{ range(mongocs_replicas) | format_and_join_list('mongocs-{0}.mongocs-hs:27018') }} 
    # #设置最大连接数
    maxConns=1000
    nounixsocket = true
  shard.conf: |+
    storage:
      dbPath: /data/db
      journal:
          enabled: true
      wiredTiger:
          engineConfig:
                cacheSizeGB: {{shard_cacheSizeGB}}
      # network interfaces
    net:
      port: 27019
      bindIp: 0.0.0.0  # Listen to local interface only, comment to listen on all interfaces.
      unixDomainSocket:
          enabled: false
    sharding:
       clusterRole: shardsvr
  shard_script.js: |
    sh.enableSharding('wisteria_assets')
    sh.enableSharding('basic_data')
    sh.enableSharding('wisteria_detect')

    sh.shardCollection('wisteria_assets.baseline2_check_result', {_id:1})

    db.getSiblingDB('wisteria_assets').detect_abnormallogin.createIndex({'agentId': 1}, {'name': 'agentId'}) 
    sh.shardCollection('wisteria_assets.detect_abnormallogin', {agentId:1})

    db.getSiblingDB('wisteria_assets').detect_shellaudit_log.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('wisteria_assets.detect_shellaudit_log', {agentId:1})

    db.getSiblingDB('wisteria_assets').linux_account.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('wisteria_assets.linux_account', {agentId:1})

    db.getSiblingDB('wisteria_assets').linux_account_group.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('wisteria_assets.linux_account_group', {agentId:1})

    db.getSiblingDB('wisteria_assets').linux_env.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('wisteria_assets.linux_env', {agentId:1})

    db.getSiblingDB('wisteria_assets').linux_kernelmodule.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('wisteria_assets.linux_kernelmodule', {agentId:1})

    db.getSiblingDB('wisteria_assets').linux_pkg.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('wisteria_assets.linux_pkg', {agentId:1})

    db.getSiblingDB('wisteria_assets').linux_port.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('wisteria_assets.linux_port', {agentId:1})

    db.getSiblingDB('wisteria_assets').linux_process.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('wisteria_assets.linux_process', {agentId:1})

    db.getSiblingDB('wisteria_assets').vul2_patch_result.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('wisteria_assets.vul2_patch_result', {agentId:1})

    db.getSiblingDB('basic_data').ready_event_log.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('basic_data.ready_event_log', {agentId:1})

    db.getSiblingDB('basic_data').collect_log.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('basic_data.collect_log', {agentId:1})

    db.getSiblingDB('basic_data').refresh_log.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('basic_data.refresh_log', {agentId:1})

    db.getSiblingDB('wisteria_assets').linux_docker_image.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('wisteria_assets.linux_docker_image', {agentId:1})

    db.getSiblingDB('wisteria_assets').docker_process.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('wisteria_assets.docker_process', {agentId:1})

    db.getSiblingDB('wisteria_assets').docker_port.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('wisteria_assets.docker_port', {agentId:1})

    db.getSiblingDB('wisteria_assets').linux_docker_container.createIndex({'agentId': 1}, {'name': 'agentId'})
    sh.shardCollection('wisteria_assets.linux_docker_container', {agentId:1})

    sh.shardCollection('wisteria_detect.detect_virus_check_sub_task', {_id:1})

    sh.shardCollection('wisteria_detect.detect_virus_check_task_info', {_id:1})