#  和 dbbackup_config.yml 基本一致，只有 MONGOS_HOST 有变化
apiVersion: v1
kind: ConfigMap
metadata:
  name: dbbackup-config
  namespace: {{ namespace }}
data:
  envconfig.json: |
    {
        "BACKUP_CONFIG": "/backup_config.json",
        "MONGOS_HOST": "mongod-svc",
        "MYSQL_HOST": "mysql-0.mysql-hs",
        "MYSQL_PORT": "3306",
        "pbe_path": "/var/secrets/pbeconfig",
        "mongos_password_file": "/var/secrets/mongo_passwd",
        "mysql_password_file": "/var/secrets/mysql_passwd"
    }
  backup_config.json: |
    {
      "mongo": {
          "wisteria_assets": {
              "app_auth_info": { "limit": "all" },
              "asset_discovery_job_spec": { "limit": "all" },
              "baseline2_job_spec": { "limit": "all" },
              "baseline2_white_rule": { "limit": "all" },
              "baseline_job_spec_group": { "limit": "all" },
              "bigdata_search": { "limit": "all" },
              "category_server": { "limit": "all" },
              "detect_backdoor_user_check_rule": { "limit": "all" },
              "detect_docker_brutecrack_rule": { "limit": "all" },
              "detect_feature_switch": { "limit": "all" },
              "detect_honeypot_rule": { "limit": "all" },
              "detect_shellaudit_envionment_var": { "limit": "all" },
              "detect_shellaudit_rule": { "limit": "all" },
              "detect_shellaudit_sys_rule": { "limit": "all" },
              "detect_virus_engine_config": { "limit": "all" },
              "detect_virus_global_process_config": { "limit": "all" },
              "detect_virus_process_config": { "limit": "all" },
              "detect_virus_white_list": { "limit": "all" },
              "detect_webcommand_serve": { "limit": "all" },
              "detect_webfile_white": { "limit": "all" },
              "detect_webshell_custom_dir": { "limit": "all" },
              "detect_webshell_operation_record": { "limit": "all" },
              "detect_white_rule": { "limit": "all" },
              "docker_registry_conf": { "limit": "all" },
              "docker_registry_scan_conf": { "limit": "all" },
              "file_integrity_job_spec": { "limit": "all" },
              "file_integrity_rule": { "limit": "all" },
              "host_rule": { "limit": "all" },
              "host_tag": { "limit": "all" },
              "ip_display_rule": { "limit": "all" },
              "ip_group": { "limit": "all" },
              "k8s_master_info": { "limit": "all" },
              "k8s_server_authentication": { "limit": "all" },
              "kb_collect_config": { "limit": "all" },
              "linux_backdoor_operation_record": { "limit": "all" },
              "linux_backdoor_white_list": { "limit": "all" },
              "linux_host": { "limit": "all" },
              "linux_received_image_group": { "limit": "all" },
              "logct_agent_rule": { "limit": "all" },
              "logct_kb_path": { "limit": "all" },
              "logct_log": { "limit": "all" },
              "logct_rule": { "limit": "all" },
              "poc_user_job": { "limit": "all" },
              "poc_user_task": { "limit": "all" },
              "public_baseline": { "limit": "all" },
              "report_task": { "limit": "all" },
              "screen_config": { "limit": "all" },
              "sysmon": { "limit": "all" },
              "sysmon_config_backup": { "limit": "all" },
              "uj_fast_job": { "limit": "all" },
              "uj_user_job": { "limit": "all" },
              "uj_user_task": { "limit": "all" },
              "user_script": { "limit": "all" },
              "vul2_access_white_rule": { "limit": "all" },
              "vul2_account_white_rule": { "limit": "all" },
              "vul2_config_white_rule": { "limit": "all" },
              "vul2_custom_remeddesc": { "limit": "all" },
              "vul2_patch_white_rule": { "limit": "all" },
              "vul2_poc_white_rule": { "limit": "all" },
              "vul2_system_white_rule": { "limit": "all" },
              "vul2_weak_pwd_dict": { "limit": "all" },
              "vul2_weak_pwd_white_rule": { "limit": "all" },
              "win_backdoor_operation_record": { "limit": "all" },
              "win_backdoor_white_list": { "limit": "all" },
              "win_custom_remeddesc": { "limit": "all" },
              "win_host": { "limit": "all" },
              "win_patch_white_rule": { "limit": "all" },
              "win_weak_password_white_rule": { "limit": "all" },
              "_COMMON_": {
                  "method": "mongodump",
                  "limit": "500000"
              }
          },
          "wisteria_notif": {
              "notif_user_contact": { "limit": "all" },
              "notif_web": { "limit": "10000" },
              "_COMMON_": { "method": "mongodump", "limit": "100000" }
          },
          "databases": [
              "wisteria_assets",
              "wisteria_notif"
          ],
          "_COMMON_": {
              "method": "mongodump",
              "limit": "500000",
              "mode": 0
          }
      },
      "mysql": {
          "databases": [
              "qt_titan",
              "qt_titan_user",
              "qt_titan_back",
              "qt_titan_connect",
              "qt_titan_monitor",
              "agent_monitor_db"
          ],
          "qt_titan": {
              "ignore-tables": [
                  "t_inform3_failed",
                  "t_update2_pack",
                  "t_app_rule",
                  "t_app_rule_fp",
                  "t_avira_lib",
                  "t_avira_lib_tmp",
                  "t_backend_white_brand",
                  "t_backend_white_brand_items",
                  "t_baseline_check",
                  "t_baseline_check_category",
                  "t_baseline_check_type",
                  "t_baseline_rule",
                  "t_baseline_rule_app",
                  "t_baseline_rule_check",
                  "t_builtin_task",
                  "t_conf",
                  "t_feature2",
                  "t_feature2_option",
                  "t_feature2_toggle",
                  "t_frontend_white_brand",
                  "t_frontend_white_brand_items",
                  "t_inform",
                  "t_inform_template",
                  "t_job_script_content",
                  "t_job_script_history",
                  "t_malware_check_hash_rule_clamAV",
                  "t_malware_check_white_list",
                  "t_monitor_login_rule",
                  "t_nav",
                  "t_poc_job",
                  "t_poc_task",
                  "t_rootkit_rule",
                  "t_sample_file_hash",
                  "t_sync_item",
                  "t_sync_item_content",
                  "t_vul2",
                  "t_vul2_cve",
                  "t_vul2_patch_package",
                  "t_weak_pwd_chk",
                  "t_weak_pwd_chk_simple",
                  "t_weak_pwd_chk_win",
                  "t_webapp_file",
                  "t_webapp_rule",
                  "t_webapp_vulner",
                  "t_webfile_regex",
                  "t_webfile_rule",
                  "t_webfile_sample",
                  "t_webframe_rule",
                  "t_win_backdoor_rule",
                  "t_win_patch",
                  "t_win_patch_bulletin",
                  "t_win_patch_bulletin_component",
                  "t_win_patch_kb",
                  "t_win_patch_prerequisite",
                  "t_win_patch_product",
                  "t_win_patch_product_ref",
                  "t_win_patch_replace",
                  "t_yara_rule",
                  "w_notif2_category",
                  "w_notif2_sub_template",
                  "w_notif2_template",
                  "w_notif2_template_conf"
              ]
          },
          "qt_titan_monitor": {
              "ext": "--no-data"
          },
          "agent_monitor_db": {
              "ext": "--no-data"
          },
          "_COMMON_": {
              "mode": 0
          }
      }
    }