- name: Remove rabbitmq StatefulSet
  kubernetes.core.k8s:
    state: absent
    api_version: apps/v1
    kind: StatefulSet
    namespace: "{{ namespace }}"
    name: "rabbitmq"

- name: Remove rabbitmq Service
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Service
    namespace: "{{ namespace }}"
    name: "{{ rabbitmq_svc_name }}"

- name: Remove rabbitmq PodDisruptionBudget
  kubernetes.core.k8s:
    state: absent
    api_version: policy/v1beta1
    kind: PodDisruptionBudget
    namespace: "{{ namespace }}"
    name: "rabbitmq-pdb"

- name: Remove rabbitmq RoleBinding
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: RoleBinding
    namespace: "{{ namespace }}"
    name: "rabbitmq-peer-discovery-rbac"

- name: Remove rabbitmq ServiceAccount
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: ServiceAccount
    namespace: "{{ namespace }}"
    name: "rabbitmq"

- name: Remove rabbitmq Role
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Role
    namespace: "{{ namespace }}"
    name: "rabbitmq-peer-discovery-rbac"

- name: Remove rabbitmq pvc
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: PersistentVolumeClaim
    namespace: "{{ namespace }}"
    name: "rabbitmqdir-rabbitmq-{{index}}"
  loop: "{{ range(rabbitmq_replicas) | list }}"
  loop_control:
    loop_var: index

