apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: titan-connect-sh
  namespace: "{{namespace}}"
  labels:
    app: titan-connect-sh
spec:
  serviceName: titan-connect-sh
  podManagementPolicy: Parallel
  replicas: {{sh_nodes | length}}
  selector:
    matchLabels:
      app: titan-connect-sh
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  progressDeadlineSeconds: 120
  minReadySeconds: 30
  revisionHistoryLimit: 3
  template:
    metadata:
      name: titan-connect-sh
      labels:
        app: titan-connect-sh
    spec:
      nodeSelector:
        "{{connectsh_nodelabel}}": "true"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: "kubernetes.io/hostname"
                  operator: In
                  values: {{sh_nodes | map(attribute='nodename') | list }}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: "kubernetes.io/hostname"
              labelSelector:
                matchLabels:
                  app: titan-connect-sh
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      serviceAccountName: "{{service_account}}"
      containers:
        - image: "{{connectsh_image}}"
          imagePullPolicy: "{{ connectsh_pullPolicy }}"
          name: titan-connect-sh
          resources:
            limits:
              cpu: "{{ connectsh_limit_cpu }}"
              memory: "{{ connectsh_limit_memory }}"
            requests:
              cpu: "{{cpu_req}}"
              memory: "{{connectsh_req_memory}}"
          readinessProbe:
            tcpSocket:
              port: {{connectsh_port}}
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 6
          livenessProbe:
            tcpSocket:
              port: {{connectsh_port}}
            initialDelaySeconds: 45
            periodSeconds: 30
            timeoutSeconds: 15
            failureThreshold: 3
          command: ['/bin/sh', '-c', 'dockerize -secretdir /var/secrets/ -yaml-env /titan-env/titan-env.yml -template /titan-java-config/jaas_zk_client.conf:/data/app/titan-config/jaas_zk_client.conf -mergeToJson /titan-java-config/java.properties:/data/app/titan-config/java.json -mergeToJson /titan-java-config/sh.properties:/data/app/titan-config/sh.json; chown -R titan:titan /data/app/titan-config; /data/app/titan-connect-sh/init.d/connect-sh start']
          # ports:
          #   - containerPort: {{connectsh_port}}
          #     protocol: TCP
          env:
            - name: CONTAINER_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NODENAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          volumeMounts:
            - name: var-secrets
              mountPath: /var/secrets/
            - name: titan-env
              mountPath: /titan-env
            - name: titan-java-config
              mountPath: /titan-java-config
            - mountPath: /data/titan-logs/java/connect-sh
              subPath: connect-sh
              name: titan-logs
          securityContext:
            allowPrivilegeEscalation: false
      securityContext:
        fsGroup: {{connectsh_gid}}
      volumes:
        - name: var-secrets
          secret:
            secretName: titan-all-secrets
        - name: titan-env
          configMap:
            name: titan-env
        - name: titan-java-config
          configMap:
            name: titan-java-config
