# 创建kafka headless服务
apiVersion: v1
kind: Service
metadata:
  name: kafka-svc
  namespace: {{ namespace }}
  labels:
    app: kafka-svc
spec:
  ports:
  - port: 9092
    name: server
  selector:
    app: kafka