kind: ConfigMap
apiVersion: v1
metadata:
  name: local-path-config
  namespace: "{{namespace}}"
data:
  config.json: |-
    {
            "nodePathMap":[
            {
                    "node":"DEFAULT_PATH_FOR_NON_LISTED_NODES",
                    "paths":["{{defaultStoragePath}}"]
            }
            ]
    }
  setup: |-
    #!/bin/sh
    while getopts "m:s:p:n:" opt
    do
        case $opt in
            p)
            absolutePath=$OPTARG
            ;;
            s)
            sizeInBytes=$OPTARG
            ;;
            m)
            volMode=$OPTARG
            ;;
            n)
            owner=$OPTARG
            ;;
        esac
    done

    test -d ${absolutePath} && exit

    if [[ ${owner}x == ""x ]]; then
      mkdir -m 0777 -p ${absolutePath}
    else
      mkdir -m 0754 -p ${absolutePath} && chown ${owner} ${absolutePath}
    fi
    
  teardown: |-
    #!/bin/sh
    while getopts "m:s:p:" opt
    do
        case $opt in
            p)
            absolutePath=$OPTARG
            ;;
            s)
            sizeInBytes=$OPTARG
            ;;
            m)
            volMode=$OPTARG
            ;;
        esac
    done

    rm -rf ${absolutePath}
  helperPod.yaml: |-
    apiVersion: v1
    kind: Pod
    metadata:
      name: helper-pod
    spec:
      containers:
      - name: helper-pod
        image: {{alpine_image}}
        imagePullPolicy: IfNotPresent


