---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: titan-dfs
  namespace: "{{ namespace }}"
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  volumeName: titan-dfs
  storageClassName: ""
