[client]
default-character-set                  = utf8
socket                                  = /data/mysql/mysql.sock
[mysqld]
bind-address                            = 127.0.0.1
sql_mode                                = 'STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION'
server-id                               = 1
port                                    = 3306
log_error                               = /data/titan-logs/mysql/error.log
log_warnings                            = 2
user                                    = mysql
basedir                                 = /usr/local/qingteng/mysql
datadir                                 = /data/mysql
tmpdir                                  = /data/mysql
slave-load-tmpdir                       = /tmp
socket                                  = /data/mysql/mysql.sock
pid-file                                = /data/mysql/mysql.pid
innodb_data_home_dir                    = /data/mysql
innodb_data_file_path                   = ibdata1:10M:autoextend
innodb_log_group_home_dir               = /data/mysql
innodb_log_files_in_group               = 3
innodb_buffer_pool_size                 = 4G
transaction-isolation                   = READ-COMMITTED
innodb_log_file_size                    = 256M
innodb_log_buffer_size                  = 128M
#innodb_additional_mem_pool_size         = 48M
innodb_flush_log_at_trx_commit          = 2
innodb_file_per_table                   = 1
innodb_lock_wait_timeout                = 20
innodb_buffer_pool_instances            = 4
innodb_flush_method                     = O_DIRECT
#innodb_adaptive_hash_index_partitions   = 4
#innodb_lazy_drop_table                  = 1
innodb_read_io_threads                  = 8
innodb_write_io_threads                 = 8
innodb_io_capacity                      = 600
innodb_max_dirty_pages_pct              = 70
innodb_sync_spin_loops                  = 10
#innodb_fast_checksum                    = 1
innodb_file_format                      = Barracuda
innodb_file_format_max                  = Barracuda
expand_fast_index_creation              = 1
back_log                                = 400
max_connections                         = 2048
max_connect_errors                      = 999999999
thread_cache_size                       = 64
table_open_cache                        = 2048
interactive_timeout                     = 3600
wait_timeout                            = 120
sort_buffer_size                        = 16M
read_buffer_size                        = 16M
join_buffer_size                        = 8M
read_rnd_buffer_size                    = 24M
myisam_sort_buffer_size                 = 64M
#key_buffer                              = 1024M
query_cache_size                        = 128M
query_cache_limit                       = 2M
query_cache_type                        = 1
max_tmp_tables                          = 64
tmp_table_size                          = 192M
max_heap_table_size                     = 192M
expire_logs_days                        = 2
max_allowed_packet                      = 1G
skip-external-locking
skip-name-resolve
slow_query_log                          = 1
long_query_time                         = 1
slow_query_log_file                     = /data/titan-logs/mysql/slow-queries.log
log-bin                                 = mysql-bin.log
relay-log                               = relay-bin.log
binlog_format                           = MIXED
log-slave-updates
skip-slave-start
replicate-same-server-id                = 0
binlog-ignore-db                        = mysql,information_schema
slave-skip-errors                       = all
delay_key_write                         = ALL
myisam_repair_threads                   = 1
#myisam-recover                          = BACKUP
character_set_server                    = utf8
collation_server                        = utf8_general_ci
