[
{rabbit,
 [
   {tcp_listeners, []},
   {ssl_listeners, [5672]},
   {ssl_options, [{cacertfile,"/data/servers/rabbitmq_root/etc/rabbitmq/cacert.pem"},
                  {certfile,"/data/servers/rabbitmq_root/etc/rabbitmq/www.qingteng.cn.cert.pem"},
                  {keyfile,"/data/servers/rabbitmq_root/etc/rabbitmq/www.qingteng.cn.key.pem"},
                  {verify, verify_peer},
                  {fail_if_no_peer_cert, true},
                  {versions, ['tlsv1.2', 'tlsv1.1']}
  ]}
 ]}
].
