apiVersion: v1
kind: ConfigMap
metadata:
  name: keepalived-config
  namespace: "{{ namespace }}"
data:
  keepalived.conf: |
      ! Configuration File for keepalived

      global_defs {
         smtp_connect_timeout 30
         router_id LVS_DEVEL
         vrrp_skip_check_adv_addr
         #vrrp_strict
         vrrp_garp_interval 0.001
         vrrp_gna_interval 0.000001
      }

      vrrp_instance VI_1 {
          state BACKUP
          interface {{KEEPALIVED_INTERFACE | default('eth0')}}
          virtual_router_id {{KEEPALIVED_ROUTER_ID | default('79')}}
          priority KEEPALIVED_PRIORITY
          nopreempt
          advert_int 1
          authentication {
              auth_type PASS
              auth_pass 2020
          }
          virtual_ipaddress {
             {{ vip }} label {{KEEPALIVED_INTERFACE | default('eth0')}}:titan-vip
          }
      }
