server
{
    listen {{.Env.console_port}};
    server_name  console-sec.qingteng.cn;
    root /data/app/www/titan-frontend;
    access_log /data/titan-logs/nginx/console_qingteng_cn.log;
    client_max_body_size 500m;
    ssl {{if eq .Env.console_ssl "true"}} on {{else}} off {{end}};
    if ($request_uri  ~* "/.*\.\..*") {
        return 404;
    }
    rewrite /agent/download /php/agent/download last;
    rewrite /agent/installer /php/agent/installer last;
    rewrite /agent/winDownloader /php/agent/windownloader last;
    rewrite /agent/winInstaller /php/agent/wininstaller last;
    rewrite /testrun/ayok /v1/api/front/ping last;
    rewrite /v1/assets/forward/update/upload /zuul/v1/assets/forward/update/upload last;
    rewrite /agent/aixdownload /php/agent/aixdownload last;
    rewrite /agent/aixinstaller /php/agent/aixinstaller last;
    rewrite /agent/solarisdownload /php/agent/solarisdownload last;
    rewrite /agent/solarisinstaller /php/agent/solarisinstaller last;


    location ^~ /zuul/v1/assets/ {
        proxy_pass http://titan-gateway:6000;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
    location ^~ /php/agent/ {
        proxy_pass http://titan-gateway:6000;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
    location ^~ /v1/api/front {
        proxy_pass http://titan-gateway:6000;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
    location ^~ /v1/assets/ {
        proxy_pass http://titan-gateway:6000;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
    location ^~ /bigdata/flask {
        proxy_pass http://titan-gateway:6000;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
    location ^~ /v1/scan {
        proxy_pass http://titan-gateway:6000;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
    location ^~ /v1/api/auth {
        proxy_pass http://titan-gateway:6000;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
    location ^~ /external/api/ { 
        proxy_pass http://titan-gateway:6000;
        proxy_set_header X-Forwarded-For $remote_addr; 
    }
    location ^~ /v1/ms-srv/ {
        proxy_pass http://titan-gateway:6000;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
    location ^~ /v2/event-srv/ {
        proxy_read_timeout 180s;
        proxy_pass http://titan-gateway:6000;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
    location ^~ /v1/anti-virus/ {
        proxy_pass http://titan-gateway:6000;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}

server
{
    listen {{.Env.backend_port}};
    server_name  backend-sec.qingteng.cn;
    root /data/app/www/titan-web/user-backend/public;
    include /data/app/conf/nginx.location.conf;
    access_log /data/titan-logs/nginx/back_qingteng_cn.log;
    client_max_body_size 500m;
    ssl {{if eq .Env.backend_ssl "true"}} on {{else}} off {{end}};
    if ($request_uri  ~* "/.*\.\..*") {
        return 404;
    }
    location / {
        rewrite ^/(.*)/(.*)$ /index.php?$1/$2 last;
        break;
    }
}

server
{
    listen {{.Env.api_port}};
    server_name  api-sec.qingteng.cn;
    root /data/app/www/titan-web/api/public;
    include /data/app/conf/nginx.location.conf;
    access_log /data/titan-logs/nginx/api_qingteng_cn.log;
    ssl {{if eq .Env.api_ssl "true"}} on {{else}} off {{end}};
    if ($request_uri  ~* "/.*\.\..*") {
        return 404;
    }
    location / {
        rewrite ^/(.*)/(.*)$ /index.php?$1/$2 last;
        break;
    }
}

server
{
    listen 8000;
    server_name  innerapi-sec.qingteng.cn;
    root /data/app/www/titan-web/inner-api/public;
    include /data/app/conf/nginx.location.conf;
    access_log /data/titan-logs/nginx/inner_api_qingteng_cn.log;
    client_max_body_size 500m;
    ssl off;
    if ($request_uri  ~* "/.*\.\..*") {
        return 404;
    }
    location / {
        rewrite ^/(.*)/(.*)$ /index.php?$1/$2 last;
        break;
    }
}

server
{
    listen {{.Env.agent_port}};
    server_name  agent-sec.qingteng.cn download-sec.qingteng.cn;
    root /data/app/www/titan-web/agent/public;
    include /data/app/conf/nginx.location.conf;
    access_log /data/titan-logs/nginx/titan_agent.expert-db_com.log;
    ssl {{if eq .Env.agent_ssl "true"}} on {{else}} off {{end}};
    if ($request_uri  ~* "/.*\.\..*") {
        return 404;
    }
    location ^~ /plugins/ {
        alias /data/app/www/agent-update/;
        break;
    }
    location ^~ /update/ {
        alias /data/app/www/agent-update/;
        break;
    }
    location ^~ /newshellaudit/ {
        alias /data/app/www/newshellaudit/;
        break;
    }
    location ^~ /clt_check/ {
        alias /data/app/www/clt_check/;
        break;
    }
    location ^~ /rpm/ {
        alias /data/app/www/rpm/;
        break;
    }
    location / {
        client_max_body_size 500m;
            rewrite ^/(.*)/(.*)$ /index.php?$1/$2 last;
            break;
    }
}
