apiVersion: v1
kind: ConfigMap
metadata:
  name: rediserl-configmap
  namespace: [% namespace %]
data:
  redis.conf: |+
    tcp-backlog 511
    bind 0.0.0.0
    timeout 0
    tcp-keepalive 0
    loglevel notice
    cluster-enabled yes
    cluster-node-timeout 15000
    cluster-config-file /data/redis/nodes.conf
    appendonly no
    protected-mode no
    save ""
    appendfsync no
    dbfilename dump.rdb
    dir /data/redis/
    masterauth {{ readSecret "/var/secrets/rediserl_passwd" }}
    requirepass {{ readSecret "/var/secrets/rediserl_passwd" }}
    ignore-warnings ARM64-COW-BUG
    cluster-allow-reads-when-down yes
    cluster-require-full-coverage no
  update_ip.sh: |
    #!/bin/sh
    CLUSTER_CONFIG="/data/redis/nodes.conf"
    if [ -f ${CLUSTER_CONFIG} ]; then
      if [ -z "${POD_IP}" ]; then 
        echo "Unable to determine Pod IP address!"
        exit 1
      fi
      echo "Updating my IP to ${POD_IP} in ${CLUSTER_CONFIG}"
      sed -i.bak -e "/myself/ s/[0-9]\{1,3\}\.[0-9]\{1,3\}\.[0-9]\{1,3\}\.[0-9]\{1,3\}/${POD_IP}/" ${CLUSTER_CONFIG}
    fi
    exec "$@"
  # 用于redis主从切换后master节点重新启动后再把master切回来，保证3个master始终处于不同机器上
  keep_master.sh: |
    #!/bin/sh
    CLUSTER_CONFIG="/data/redis/nodes.conf"
    if [ -f ${CLUSTER_CONFIG} ]; then
      if [ -z "${HOSTNAME}" ]; then 
        echo "Unable to determine HOSTNAME!"
        exit 0
      fi
      id=${HOSTNAME#*-}
      case "$id" in
        "[% cluster_info['master_slave_dict'].keys() | join('"|"') %]")
            echo "should be master" && echo "wait ready"
            password=`cat /tmp/redis.conf |grep requirepass | awk '{print $2}'`
            for i in 1 2 3 4 5 6 7 8 9 10; do
                check_ready=`redis-cli -a $password -h 127.0.0.1 -p 6379 ping`
                if [[ $check_ready == "PONG" ]]; then
                    echo "ready"
                    break
                else
                    sleep 3
                    continue
                fi
            done
            sleep 2
            (cat /data/redis/nodes.conf | grep self | grep master) && exit 0
            redis-cli -a $password -c CLUSTER FAILOVER TAKEOVER
        ;;
        *)
            echo "slave"
        ;;
      esac
    fi