- name: Remove fluent client daemonset
  kubernetes.core.k8s:
    state: absent
    api_version: apps/v1
    kind: DaemonSet
    namespace: "{{ namespace }}"
    name: "titan-fluentbit-client"

- name: Remove fluent client configmap
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: ConfigMap
    namespace: "{{ namespace }}"
    name: "titan-fluentbit-client-config"

- name: Remove fluent server Deployment
  kubernetes.core.k8s:
    state: absent
    api_version: apps/v1
    kind: Deployment
    namespace: "{{ namespace }}"
    name: "titan-fluentbit-server"

- name: Remove fluent server Service
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Service
    namespace: "{{ namespace }}"
    name: "fluentbit-server"

- name: Remove fluent client configmap
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: ConfigMap
    namespace: "{{ namespace }}"
    name: "titan-fluentbit-server-config"