apiVersion: v1
kind: DaemonSet
metadata:
  name: alpine-cmd-daemon
  namespace: {{ namespace }}
spec:
  selector:
    matchLabels:
      app: alpine-cmd-daemon
  template:
    metadata:
      labels:
        app: alpine-cmd-daemon
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
{% for nodelabel in localpv_nodelabels %}
              - matchExpressions:
                - key: "{{nodelabel}}"
                  operator: In
                  values: 
                    - "true"
{% endfor %}
      serviceAccountName: "{{service_account}}"
      containers:
        - name: alpine-cmd-daemon
          image: "{{ alpine_image }}"
          imagePullPolicy: IfNotPresent
          resources:
              limits:
                memory: "100Mi"
              requests:
                cpu: "0.1"
                memory: "50Mi"
          command: ["tail", "-f", "/dev/null"]
          volumeMounts:
            - name: data
              mountPath: "/data"
      volumes:
        - name: data
          hostPath:
            path: "/data"
            type: DirectoryOrCreate