# 创建zookeeper headless服务
apiVersion: v1
kind: Service
metadata:
  name: zk-hs
  namespace: {{ namespace }}
  labels:
    app: zk-hs
spec:
  ports:
  - port: 2888
    name: server
  - port: 3888
    name: leader-election
  clusterIP: None
  selector:
    app: zk