COMPOSE_PROJECT_NAME=TITAN
config_dir=/data/titan-container/config
script_dir=/data/titan-container/script
presetrule=Y

alpine_image={{registry}}/alpine:3.12
zookeeper_image={{registry}}/titan-zookeeper:3.4.14-20210111
kafka_image={{registry}}/titan-kafka:2.3.1-20210311
rabbitmq_image={{registry}}/rabbitmq:3.8.5-management-alpine
redisjava_image={{registry}}/redis:5.0.9-alpine3.12
redisphp_image={{registry}}/redis:5.0.9-alpine3.12
rediserl_image={{registry}}/redis:5.0.9-alpine3.12
mongo_image={{registry}}/titan-mongo:4.2.11-20201204
mysql_image={{registry}}/titan-percona:5.7.31-20201204

dbbackup_image={{registry}}/dbbackup:3.4.0-20210621
rules_image={{registry}}/titan-rules:3.4.0.7-20211101

deploy_image={{registry}}/titan-compose-deploy:{{common_tag}}
patrol_image={{registry}}/titan-go-patrol:{{common_tag}}
sysinfo_image={{registry}}/titan-sysinfo:{{common_tag}}
upgradetool_image={{registry}}/titan-upgradetool:{{common_tag}}

javalib_image={{registry}}/titan-java-lib:{{common_tag}}
wisteria_image={{registry}}/titan-java-wisteria:{{common_tag}}
gateway_image={{registry}}/titan-java-gateway:{{common_tag}}
usersrv_image={{registry}}/titan-java-user-srv:{{common_tag}}
connectagent_image={{registry}}/titan-java-connect-agent:{{common_tag}}
connectdh_image={{registry}}/titan-java-connect-dh:{{common_tag}}
connectselector_image={{registry}}/titan-java-connect-selector:{{common_tag}}
connectsh_image={{registry}}/titan-java-connect-sh:{{common_tag}}
detectsrv_image={{registry}}/titan-java-detect-srv:{{common_tag}}
uploadsrv_image={{registry}}/titan-java-upload-srv:{{common_tag}}
uploadsrv_cdc_image={{registry}}/titan-java-upload-srv-cdc:{{common_tag}}
uploadsrv_ave_image={{registry}}/titan-java-upload-srv-tav-ave:{{common_tag}}
jobsrv_image={{registry}}/titan-java-job-srv:{{common_tag}}
scansrv_image={{registry}}/titan-java-scan-srv:{{common_tag}}
titanagent_image={{registry}}/titan-agent:{{common_tag}}
php_image={{registry}}/titan-web-php:{{common_tag}}
