- name: Get the connectsh deployment
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    namespace: "{{ namespace }}"
    label_selectors:
      - "app = titan-connectsh"
  register: deploysinfo

- set_fact:
    sh_deploys: "{{ deploysinfo | json_query('resources[*].{name:metadata.name}') }}"

- name: Remove connectsh Deployment
  kubernetes.core.k8s:
    state: absent
    api_version: apps/v1
    kind: StatefulSet
    namespace: "{{ namespace }}"
    name: "titan-connect-sh"
