apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  # ansible的 jinja2 模板替换符和 golang template的一样了，这里将ansible的variable_start_string 进行修改
  namespace: [% namespace %]
data:
  my.cnf: |
      {{- $index := (splitList "-" .Env.POD_NAME) | last | int -}}
      [mysqld]
      default-time-zone='+8:00'
      server_id={{$index | add1}}
      sql_mode= 'STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION'
      socket=/var/lib/mysql/mysql.sock
      user=mysql
      init_file=/tmp/mysql/init.sql
      # Disabling symbolic-links is recommended to prevent assorted security risks
      symbolic-links=0
      init_connect='SET collation_connection = utf8_general_ci'
      init_connect='SET NAMES utf8'
      character-set-server=utf8
      collation-server=utf8_general_ci
      default_storage_engine=InnoDB
      log_bin
      binlog_format=ROW
      innodb_autoinc_lock_mode=2
      innodb_data_file_path                   = ibdata1:10M:autoextend
      innodb_log_files_in_group               = 3
      innodb_buffer_pool_size                 = 2G
      transaction-isolation                   = READ-COMMITTED
      innodb_log_file_size                    = 256M
      innodb_log_buffer_size                  = 128M
      innodb_flush_log_at_trx_commit          = 2
      innodb_file_per_table                   = 1
      innodb_lock_wait_timeout                = 20
      innodb_buffer_pool_instances            = 4
      innodb_flush_method                     = O_DIRECT
      innodb_read_io_threads                  = 8
      innodb_write_io_threads                 = 8
      innodb_io_capacity                      = 600
      innodb_max_dirty_pages_pct              = 70
      innodb_sync_spin_loops                  = 10
      innodb_file_format                      = Barracuda
      back_log                                = 400
      max_connections                         = 2048
      max_connect_errors                      = 999999999
      thread_cache_size                       = 64
      table_open_cache                        = 2048
      interactive_timeout                     = 3600
      wait_timeout                            = 120
      sort_buffer_size                        = 16M
      read_buffer_size                        = 16M
      join_buffer_size                        = 8M
      read_rnd_buffer_size                    = 24M
      myisam_sort_buffer_size                 = 64M
      key_buffer_size                         = 1024M
      query_cache_size                        = 128M
      query_cache_limit                       = 2M
      query_cache_type                        = 1
      max_tmp_tables                          = 64
      tmp_table_size                          = 192M
      max_heap_table_size                     = 192M
      expire_logs_days                        = 2
      max_allowed_packet                      = 1G
      skip-external-locking
      skip-name-resolve
      [galera]
      wsrep_on=ON
      wsrep_provider=/usr/lib/libgalera_smm.so
      wsrep_cluster_address=gcomm://[%range(mysql_replicas) | format_and_join_list('mysql-{0}.mysql-hs:4567')%]
      wsrep_cluster_name="titan_galera"
      wsrep_node_address=mysql-{{$index}}.mysql-hs:4567
      wsrep_sst_auth=sst_user:{{readSecret "/var/secrets/mysql_passwd"}}
      [client]
      default-character-set=utf8
      [mysql]
      default-character-set=utf8
      [mysql.server]
      default-character-set=utf8
  init.sql: |
      ALTER USER 'root'@'%' IDENTIFIED BY '{{readSecret "/var/secrets/mysql_passwd"}}';
      ALTER USER 'root'@'localhost' IDENTIFIED BY '{{readSecret "/var/secrets/mysql_passwd"}}';
      ALTER USER 'root'@'127.0.0.1' IDENTIFIED BY '{{readSecret "/var/secrets/mysql_passwd"}}';

      grant all privileges on *.* to 'root'@'%' with grant option;
      grant all privileges on *.* to 'root'@'localhost' with grant option;
      grant all privileges on *.* to 'root'@'127.0.0.1' with grant option;

      CREATE USER IF NOT EXISTS 'sst_user'@'%' IDENTIFIED BY '{{readSecret "/var/secrets/mysql_passwd"}}';
      ALTER USER 'sst_user'@'%' IDENTIFIED BY '{{readSecret "/var/secrets/mysql_passwd"}}';
      grant all privileges on *.* to 'sst_user'@'%' with grant option;
      flush privileges;