apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  namespace: "{{ namespace }}"
spec:
  serviceName: mysql-hs
  #podManagementPolicy: Parallel
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      nodeSelector:
        "{{mysql_nodelabel}}": "true"
      terminationGracePeriodSeconds: 10
      serviceAccountName: "{{service_account}}"
      containers:
        - name: k8s-mysql
          imagePullPolicy: "{{ mysql_pullPolicy }}"
          image: "{{ mysql_image }}"
          resources:
            limits:
              memory: "{{ mysql_limit_memory }}"
            requests:
              cpu: "{{cpu_req}}"
              memory: "1024Mi"
          ports:
            - name: mysql
              protocol: TCP
              containerPort: 3306
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: MYSQL_ROOT_PASSWORD
              value: /tmp/mysql/mysql_passwd_plain
            - name: LANG
              value: en_US.UTF-8
          command: ["tail", "-f", "/dev/null"]
          volumeMounts:
            - name: mysqldir
              subPath: data
              mountPath: /var/lib/mysql
            # 用于mysqldump等数据导入导出的场景，可以将数据文件放在这里
            - name: mysqldir
              subPath: temp
              mountPath: /data/temp
            - name: tmp-config
              mountPath: /tmp/mysql/
            - name: tmp-config
              subPath: my.cnf
              mountPath: /etc/my.cnf
      initContainers:
        - name: titan-init
          image: "{{ init_image }}"
          imagePullPolicy: IfNotPresent
          command: ["sh", "-c", "dockerize -secretdir /var/secrets/ -encSecret /var/secrets/mysql_passwd:/etc/mysql/mysql_passwd_plain -template /etc/my.cnf:/etc/mysql/my.cnf -template /etc/init.sql:/etc/mysql/init.sql; chown -R {{mysql_uid}}:{{mysql_gid}} /var/lib/mysql; chown -R {{mysql_uid}}:{{mysql_gid}} /var/lib/mysql;"]
          volumeMounts:
            - name: var-secrets
              mountPath: /var/secrets/
            - name: config-volume
              subPath: my.cnf
              mountPath: /etc/my.cnf
            - name: config-volume
              subPath: init.sql
              mountPath: /etc/init.sql
            - name: tmp-config
              mountPath: /etc/mysql
            - name: mysqldir
              subPath: data
              mountPath: /var/lib/mysql
          securityContext:
            fsGroup: {{mysql_gid}}
        - name: titan-rules
          image: "{{rules_image}}"
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: "0.25"
              memory: "{{ mysql_limit_memory }}"
            requests:
              cpu: "{{cpu_req}}"
              memory: "128Mi"
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
          command: ['/bin/sh', '-c', '(! test -d /var/lib/mysql/qt_titan) && (pv -L 20m /mysql.tar.gz | tar  -kzxvf  - -C /var/lib/ && chown -R {{mysql_uid}}:{{mysql_gid}} /var/lib/mysql) || echo "not install preset rules"']
          volumeMounts:
            - name: mysqldir
              subPath: data
              mountPath: /var/lib/mysql
      securityContext:
        #runAsUser: {{mysql_uid}}
        fsGroup: {{mysql_gid}}
      volumes:
        - name: var-secrets
          secret:
            secretName: titan-all-secrets
        - name: config-volume
          configMap:
            name: mysql-config
        # 用于在 titan-init 和 mysql容器之间共享配置，titan-init初始化好配置文件后给mysql用
        - name: tmp-config
          emptyDir: {}
  volumeClaimTemplates:
    - metadata:
        name: mysqldir
        labels:
          qtsa_perm: "{{mysql_uid}}-{{mysql_gid}}"
          qtsa_path: "mysql"
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: "{{storageName}}"
        resources:
          requests:
            storage: "{{ mysql_storage_capacity }}"
