---
# 执行removeshard命令直到此shard上数据迁移完毕
- name: remove shard from cluster
  kubernetes.core.k8s_exec:
    validate_certs: no
    namespace: "{{ namespace }}"
    pod: "mongos-0"
    command: mongo --quiet --port 27017 -u qingteng -p "{{mongo_passwd}}" --authenticationDatabase admin --eval 'db.adminCommand({removeShard:"shard{{remove_shard_seq}}"})'
  register: remove_status
  until: (('completed' in remove_status['stdout']) and ('remaining' not in remove_status['stdout'])) or ('ShardNotFound' in remove_status['stdout'])
  retries: 30
  delay: 10
  # 默认需要执行 removeShard命令,不想执行可设置 removeShard_cmd 为 N
  when: (removeShard_cmd is not defined) or (removeShard_cmd == 'Y')

- name: Remove StatefulSet
  kubernetes.core.k8s:
    state: absent
    api_version: apps/v1
    kind: StatefulSet
    namespace: "{{ namespace }}"
    name: "mongoshard{{remove_shard_seq}}"

- name: Remove Service
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Service
    namespace: "{{ namespace }}"
    name: "mongoshard{{remove_shard_seq}}-hs"

- name: Remove pvc
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: PersistentVolumeClaim
    namespace: "{{ namespace }}"
    name: "mongosharddir-mongoshard{{remove_shard_seq}}-{{index}}"
  loop: "{{ range(mongoshard_replicas) | list }}"
  loop_control:
    loop_var: index

