---
# tasks file for rediserl
- set_fact:
    work_nodes: "{{ label_nodes[rediserl_nodelabel] }}"

- name: Print result
  debug:
    msg: "{{ work_nodes }}"

- fail:
    msg: "have no available node for rediserl"
  when: work_nodes|length < 1

- name: create rediserl configmap
  kubernetes.core.k8s:
    definition: "{{ lookup('template', 'rediserl_configmap_single.yml', variable_start_string='[%', variable_end_string='%]') | from_yaml }}"

- name: create rediserl headless service
  kubernetes.core.k8s:
    definition: "{{ lookup('template', 'rediserl_hs.yml') | from_yaml }}"

- name: create rediserl StatefulSet
  kubernetes.core.k8s:
    definition: "{{ lookup('template', 'rediserl_statefulset_single.yml') | from_yaml | titan_combine(common_patch) }}"
    apply: yes

- name: get rediserl statefulset 
  kubernetes.core.k8s_info:
    kind: StatefulSet
    name: "rediserl"
    namespace: "{{ namespace }}"
    wait: yes
    wait_sleep: 5
    wait_timeout: 60
  register: rediserl_setobj
  