- name: Load registry image amd64
  shell: "docker load -i /data/source/registry/{{ item }}"
  with_items:
    - "registry-all-x86_64.tar"
    - "k3s-airgap-images-amd64.tar"
  when: ansible_facts.architecture == "x86_64"

- name: Load registry image arm64
  shell: "docker load -i /data/source/registry/{{ item }}"
  with_items:
    - "k3s-airgap-images-arm64.tar"
    - "registry-all-arrch64.tar"
  when:
    - ( ansible_facts.architecture is search("arm") and
        ansible_facts.userspace_bits == "64" ) or
      ansible_facts.architecture is search("aarch64")
# - name: Load image
#   docker_image:
#     #name: registry.qingteng.cn/k8s/x86/registry
#     # tag: "2.7.1"
#     load_path: "/data/source/registry/{{ item }}"
#     source: load
#     with_items:
#     - "registry-all.tar"
#     - "k3s-airgap-images-amd64.tar"
